







.suggestion_portion {
  width: 383px;
  background-color: green;
  border-left: 1px solid white;
  padding-left: 64px;
  padding-right: 16px;
  padding-top: 36px;
  padding-bottom: 20px;
}

.suggestion_section {
  display: flex;
  flex-direction: column;
  gap: 20px; /* spacing between blocks */
}

.suggestion_header {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 0;
}

.suggestion_header .profile {
  height: 66px;
  width: 66px;
}

.suggestion_header .profile img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.suggestion_header .text {
  flex-grow: 1;
  font-size: 12px;
}

.suggestion_header .follow {
  color: blueviolet;
  cursor: pointer;
  font-weight: bold;
}

.suggestion_body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.suggest {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.suggestion_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.suggestion {
  display: flex;
  align-items: center;
  gap: 12px;
}

.suggestion .profile img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.suggestion .text {
  flex-grow: 1;
  font-size: 12px;
}

.suggestion .follow {
  color: blueviolet;
  cursor: pointer;
  font-weight: bold;
}

/* Footer Styling */
.suggestion_footer {
  text-align: center;
  font-size: 12px;
  color: gray;
  
  margin-top: 20px;
}

.footer_links {
  margin-bottom: 8px;
  line-height: 1.6;
}

.footer_links a {
  text-decoration: none;
  color: gray;
  margin: 0 4px;
}

.footer_links a:hover {
  text-decoration: underline;
}

.footer_ends {
  color: gray;
}
